.app-draggable {
    -webkit-app-region: drag;
    cursor: default;
}

.app-dragginable {
    -webkit-app-region: no-drag;
}

.no-padding {
    padding: 0 !important;
}

.cursor-pointer, button, a, .color {
    cursor: pointer !important;
}

.underline {
    text-decoration: underline;
}

.disabled, .inactive {
    cursor: not-allowed;
}

.no-text-highlight, .app-draggable, .app-dragginable, #app {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline-style: none;
    -webkit-touch-callout: none;
    cursor: default;
}

.font-16 {
    font-size: 16px;
}

.font-17 {
    font-size: 17px;
}

html {
    border: 1px solid #414141;
}

.tabs__items, .tabs__item, .tabs__item.tabs__item--active, .tabs__content {
    border: none !important;
}

html, body, #app {
    -ms-overflow-style: none;
    overflow-x: hidden;
    overflow-y: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.toolbar-title {
    font-size: 1em;
    font-weight: 500;
}

.default-color {
    background: #fb8c00;
}

.default-color-text {
    color: #fb8c00;
}